<div class="content">
    <div class="body">
        <img src="/assets/images/Photo-CV.png" class="photo" alt="photo">
        <div class="titles">
            <h1 class="name">NINO DELIEN</h1>
            <h2 class="profile">Engineer specialized in computer science and microelectronics</h2>
            <h2 class="job">Developer FullStack</h2>
            <button type="button" class="btn-download" (click)="downloadResume()">
                <div class="btn-content">
                    <h2 class="btn-text">Dowload resume</h2> 
                    <mat-icon class="btn-icon">cloud_download</mat-icon>
                </div>
            </button>
        </div>
    </div>
</div>