<div class="content">
    <div class="body">
        <div class="line">
        </div>
        <div class="period-list">
            <div class="period">
                <div class="box-content">
                    <div class="title">Ecole d'ingénieur</div>
                </div>
            </div>

            <div class="period">
                <div class="box-content">
                    <div class="title">Prépa</div>
                </div>
            </div>

            <div class="period">
                <div class="box-content">
                    <div class="title">Lycée</div>
                </div>
            </div>
        </div>
        <div class="event-list">

            <div class="event" >
                <div class="event-date">Novembre 2022</div>
                <div class="event-line" id="line1"></div>
                    <div class="box-content">Obtention du diplôme</div>
                    <p class="text"></p>
                    <p class="level"></p>
            </div>

            <div class="event" >
                <div class="event-date">Avril - Octobre 2022</div>
                <div class="event-line" id="line2"></div>
                    <div class="box-content">Stage Sogeti</div>
                    <p class="text"></p>
                    <p class="level"></p>
            </div>

            
            <div class="event" >
                <div class="event-date">Mars - Aout 2021</div>
                <div class="event-line" id="line3"></div>
                    <div class="box-content">Stage Alten</div>
                    <p class="text"></p>
                    <p class="level"></p>
            </div>

                        
            <div class="event" >
                <div class="event-date">Janvier 2020</div>
                <div class="event-line" id="line4"></div>
                    <div class="box-content">Stage Lica</div>
                    <p class="text"></p>
                    <p class="level"></p>
            </div>

            <div class="event" >
                <div class="event-date">Juillet - Aout 2018</div>
                <div class="event-line" id="line5"></div>
                    <div class="box-content">Job d'été Spigol</div>
                    <p class="text"></p>
                    <p class="level"></p>
            </div>

            <div class="event" >
                <div class="event-date">Juin 2018</div>
                <div class="event-line" id="line5"></div>
                    <div class="box-content">Bac</div>
                    <p class="text"></p>
                    <p class="level"></p>
            </div>

            <div class="event" >
                <div class="event-date">Juin 2015</div>
                <div class="event-line" id="line5"></div>
                    <div class="box-content">Brevet</div>
                    <p class="text"></p>
                    <p class="level"></p>
            </div>
  
        </div>
    </div>
</div>