<div class="content">
    <div class="body">
        <div class="section">
            <h1 class="title">Web developement</h1>
            <div class="element">
                <div class="element-header">
                <img src="/assets/images/logo-skills/logo-angular.png" class="logo" id="angular" alt="Logo Angular">
                <h2 class="name">Angular</h2>
                </div>
                <p class="text"></p>
                <p class="level">6 months experience</p>
            </div>
            <div class="element">
                <div class="element-header">
                <img src="/assets/images/logo-skills/logo-spring-boot.png" class="logo" id="spring-boot" alt="Logo Spring">
                <h2 class="name">Spring boot</h2>
                </div>
                <p class="text"></p>
                <p class="level">6 months experience</p>
            </div>
        </div>
        <div class="section">
        <h1 class="title">Programming Languages</h1>
        <div class="element">
            <div class="element-header">
            <img src="/assets/images/logo-skills/logo-java.png" class="logo" id="java" alt="Logo Java">
            <h2 class="name">Java</h2>
            </div>
            <p class="text"></p>
            <p class="level"></p>
        </div>
    </div>
    <div class="section">
        <h1 class="title">Development tools</h1>
        <div class="element">
            <div class="element-header">
            <img src="/assets/images/logo-skills/logo-git.png" class="logo" id="git" alt="Logo Git">
            <h2 class="name">Git</h2>
            </div>
            <p class="text"></p>
            <p class="level"></p>
        </div>
    </div>
    </div>
</div>
