.navigation-bar-large-screen {
    margin-right: 30px;
    margin-left: 30px;
    background-color: #040404;
    width: 350;
    height: 40px;
    
    .button-nav {
        padding: 10px;
        margin: 20px 10px 20px 10px;
        height: 30px;
        color: white;
        background-color: transparent;
        border-radius: 5px;
        font-size: 15px;
        text-decoration: none;
    }px

    .button-nav:hover {
        background-color: grey;
    }

    .active-link {
        background-color: grey;
    }
}

.navigation-bar-small-screen {
    margin-right: 30px;
    margin-left: 30px;
    background-color: #040404;
    width: 350;
    height: 40px;
    
    .menu-icon {
        color: white;
        background-color: transparent;
        position: absolute;
        right: 0;
    }



}

::ng-deep .menu {
    margin-top: 0;
    padding-top: 0;
    background-color: #040404;
    margin-right: 0;
    position: absolute;
    right: 0;

}

::ng-deep .menu-button{
    color: white;
    background-color: #040404;
    
}
