.navigation-bar-large-screen {
    margin-right: 30px;
    margin-left: 30px;
    background-color: transparent;
    padding-top: 5px;
    width: 350;
    height: 40px;
    
    .button-nav {
        padding: 10px;
        margin: 20px 10px 20px 10px;
        height: 30px;
        color: var(--text2-color);
        background-color: transparent;
        border-radius: 5px;
        font-size: 15px;
        text-decoration: none;
    }px

    .button-nav:hover {
        background-color: #E0E0E0;
    }

    .active-link {
        background-color: #E0E0E0;
    }
}

.navigation-bar-small-screen {
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-left: 30px;
    background-color:  transparent;
    width: 350;
    height: 40px;
    
    .menu-icon {
        padding-top: 2px;
        color: var(--text2-color);
        border: none;
        background-color: transparent;
        padding-right: 10px;
    }
}

::ng-deep .menu {
    margin-top: 0;
    padding-top: 0;
    background-color: #122035;
    

}

::ng-deep .menu-button{
    color: var(--text2-color);
    background-color: #122035;
    
}
