<div class="navigation-bar-large-screen" *ngIf="screenWidth>750"> 
    <a class="button-nav" routerLink='home' routerLinkActive="active-link">HOME</a>
    <a class="button-nav" routerLink='description' routerLinkActive="active-link">DESCRIPTION</a>
    <a class="button-nav" routerLink='timeline' routerLinkActive="active-link">TIMELINE</a>
    <a class="button-nav" routerLink='skills' routerLinkActive="active-link">SKILLS</a>
    <a class="button-nav" routerLink='contact' routerLinkActive="active-link">CONTACT</a>
</div>
<div class="navigation-bar-small-screen" *ngIf="screenWidth<=750">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item class="menu-button" routerLink='home'>HOME</button>
        <button mat-menu-item class="menu-button" routerLink='description'>DESCRIPTION</button>
        <button mat-menu-item class="menu-button" routerLink='timeline'>TIMELINE</button>
        <button mat-menu-item class="menu-button" routerLink='skills'>SKILLS</button>
        <button mat-menu-item class="menu-button" routerLink='contact'>CONTACT</button>
    </mat-menu>

    
</div>
